@use "./variables";
/* Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default link styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove outline on focus (except for keyboard users) */
button,
input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
  background: none;
}

/* Set default font and background */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  transition:
    background-color 0.3s,
    color 0.3s;
}

html,
body {
  height: 100%; /* Make the body take the full height of the viewport */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Ensure it stretches to the full height */
}

main {
  flex: 1; /* Pushes the footer to the bottom when content is short */
}
/* Improve image responsiveness */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}
